

.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    max-width:1600px;
    max-height:887px;
}


.headname{
    font-size:45px;
    font-weight:bolder;

}
span{
 color:#FD6E0A;
}

nav ul li{
    list-style:none;
     margin-right:30px;
}
ul li a{
    text-decoration:none;
    color:black;
    font-size:20px
}
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:0px 200px;

}
nav ul{
    display:flex;
    align-items:center;
   
}
.btn-primary{
    background-color:#FD6E0A;
    padding:10px;
    color:white;
    border:none;
    border-radius:5px;
} 
.portfolio-image{
    max-width: 580px;
    margin-bottom:0px;
}
.banner{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 0px 35px 0px 200px;
    

}
.banner-content{
   max-width:580px;
   
 
}
.header{
    background-image:url('/portfolio-images/developer.png'),url('/portfolio-images/header_bg.png');
    background-repeat:no-repeat;
    background-position:top left,bottom right;
}
main{
       max-width: 1000px;
       border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin:0 auto;
        background-color:#FFF8F3;

}
.section-title{
    text-align:center;
}
.class-section{
 width:827px;
 margin:0 auto;
 border:1px solid black;
 background-color:white;
 margin:130px auto;
  
}
.about-items{
    display:flex;
    justify-content:space-evenly;
    width:782;
}
.about-title{
    text-align:center;
}
.title-describtion{
     font-weight: 600;
}